._ {
  list-style-type: none;
  border: 1px solid #ebf0f5;
  min-width: 1.5rem;
}

.item,
.row {
  flex-basis: 3%;
  height: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 0.75rem;
}
/* .item:hover {
  box-shadow: 0px 2px 5px 2px var(--button-shadow-normal);
} */

.row:nth-child(1) {
  flex-basis: 5%;
}
.row:nth-child(2) {
  flex-basis: 10%;
}
.row:nth-child(3) {
  flex-basis: 15%;
}
.row:nth-child(4) {
  flex-basis: 15%;
}
.row:nth-child(5) {
  flex-basis: 5%;
}
.row:nth-child(6) {
  flex-basis: 10%;
}
.row:nth-child(7) {
  flex-basis: 40%;
}
.row .checkbox:checked {
  background: #ebf0f5;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
.status_new svg,
.status_hold svg {
  fill: #ff8c56;
}
.status_calc svg {
  fill: #459df5;
}
.status_aprove svg,
.status_done svg {
  fill: #0fb864;
}
.status_abort svg {
  fill: gray;
}
.status_done {
  color: #0fb864;
}
.status_abort {
  color: gray;
}
