._ {
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0px;
  right: 0px;
  border: 1px solid #459df5;
  background-color: white;
}

.header {
  background-color: #459df5;
  width: 100%;
  color: #bad8f5;
  margin: 0px 8px;
  padding: 8px;
}
.button {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin-right: 8px;
}
.button > svg {
  width: 100%;
  height: 100%;
}
.row {
  width: 100%;
  height: 56px;
  border: 1px solid var(--input-color-border-default);
  position: relative;
  align-items: center;
  background-color: #459df5;
  color: #bad8f5;
}
