._ {
  background: #ebf0f5;
  height: 40px;
  display: flex;
  padding: 8px;
  justify-content: space-between;
}
.paginator,
.text {
  color: #459df5;
  margin-left: 8px;
  margin-right: 16px;
}
.button {
  margin-right: 16px;
}
.row {
  display: flex;
  align-items: center;
}
