body {
  color: #000;
  font-size: 16px;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}

.App {
  text-align: center;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 28rem;
  padding: 2rem 3rem 0 3rem;
}
