._ {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
}
.panel {
  background: #ebf0f5;
  border-radius: 8px;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.row {
  display: flex;
  justify-content: space-between;
}
.searchbar {
  width: auto;
}
