._ {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
}
.panel {
  background: #ebf0f5;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
}
.label {
  margin-bottom: 0.5rem;
}
.column {
  margin-right: 4px;
  display: grid;
  align-content: end;
}
.columnStatus {
  display: grid;
  align-content: end;
  margin-left: 12px;
  margin-right: 16px;
}
.button {
  margin-left: 4px;
}
.inputDate {
  max-width: 142px;
}
.inputSum {
  max-width: 126px;
}
