.frame {
    width: 352px;
    height: 400px;
    margin: 0 auto;
    border: 1px dashed var(--frame-color-border-default);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.frame {
    width: 672px;
    height: 512px;
    margin: 0 auto;
    border: 1px dashed var(--wrapper-color-border);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
    