._ {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 40px;
}
/* модификаторы*/
.theme_default {
    background-color: var(--background-color-default);
    color: var(--button-font-color-white);
  }
  .theme_flat {
    color: var(--background-color-default);
  }
  .theme_disabled {
    color: var(--button-font-color-black);
  }
  
  .theme_default .image {
    fill: var(--button-font-color-white);
  }
  .theme_flat .image {
    fill: var(--background-color-default);
  }
  
  .size_big {
    padding: 8px 16px;
  }
  .size_big .image + .text {
    margin-left: 8px;
  }
  .size_big + .size_icon_only {
    padding: 8px;
  }
  .size_small {
    padding: 4px 8px;
  }
  .size_small .image + .text {
    margin-left: 6px;
  }
  .size_small + .size_icon_only {
    padding: 4px;
  }
  